<div class="container-fluid app-bg-secondary p-1 py-5">
  <div class="container fs-3">
    <div class="row row-cols-1 row-cols-lg-2 justify-content-center">
      <div class="col text-lg-start">
        <img ngSrc="../../../assets/images/about/about-heart.jpg" class="img-fluid" alt="image"
          width="{{ImageSize.maxWidth}}" height="{{ImageSize.maxHeight}}">
      </div>

      <div class="col text-lg-end my-auto fs-3">
        <p>
          Сердце нашего меню – богатая карта коктейлей, где каждый сможет выбрать себе напиток по вкусу.
        </p>
        <p class="mt-sm-1 mt-lg-3 mt-xl-5">
          Только самые свежие и качественные ингредиенты местного производства оказываются на кухне ресторанов
          Волгаиды,
          чтобы обеспечить нашей еде идеальный вкус и цвет.
        </p>
      </div>
    </div>
  </div>
  <div class="w-100 mt-5">
    <img ngSrc="../../../assets/images/about/about-center.jpg" class="img-fluid" alt="image bg" height="410"
         width="1920">
  </div>
  <div class="container fs-3 mt-5">
    <div class="row row-cols-1 row-cols-lg-2 justify-content-center">
      <div class="col text-lg-end my-auto fs-3">
        <p>
          Мы любим хорошую еду и знаем толк в приготовлении коктейлей, вкус которых никого не оставит равнодушным.
        </p>
        <p class="mt-sm-1 mt-lg-3 mt-xl-5">
          Мы знаем, как превратить будни в незабываемый праздник и готовы рассказать этот секрет каждому!
        </p>
        <p class="mt-sm-1 mt-lg-3 mt-xl-5">
          Ждем Вас.
        </p>
      </div>

      <div class="col text-lg-start">
        <img ngSrc="../../../assets/images/about/about-lamp.jpg" class="img-fluid" alt="image"
             width="{{ImageSize.maxWidth}}" height="{{ImageSize.maxHeight}}">
      </div>
    </div>

    <div class="container text-center mt-5">
      <iframe
        class="w-100"
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6758.0617229664795!2d50.104304591676126!3d53.21183014696596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1682285520811!5m2!1sru!2sru"
        style="border:0; height: 30rem" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
