.nav {
  border-bottom: gray 0.1rem solid;
}

.nav-logo {
  height: 7rem;
  width: 14rem;
}

.nav-link-text {
  color: black;
}

.nav-link-text:hover {
  cursor: pointer;
}

.nav-link-text::after {
  text-align: center;
  content: '';
  width: 0;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}

.nav-link-text:hover::after {
  width: 100%;
}

.nav-social {
  height: 3.5rem;
  width: 3.5rem;

  transition: transform 0.2s linear;
}

.nav-social:hover {
  transform: scale(1.2);
}

.nav-mobile {
  min-height: 7rem;
}

.img-mobile {
  max-height: 6rem;
  margin: 0.5rem 0;
  width: auto;
}

.dialog-btn-close {
  position: absolute;
  top: 0;
  right: 0;
}

.dialog-list {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
