<nav class="navbar navbar-dark bg-dark fixed-top navbar-expand">
  <div class="container-fluid justify-content-around">
    <a class="navbar-brand fs-1" routerLinkActive="active" routerLink="/home">Volgaida</a>

    <ul class="navbar-nav fs-3">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/menu">Меню</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/contact">Контакты</a>
      </li>
    </ul>

    <ul class="navbar-nav fs-2">
      <li class="nav-item">
        <a class="nav-link btn">
          <i class="bi bi-telegram"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn">
          <i class="bi bi-github"></i>
        </a>
      </li>
    </ul>

  </div>
</nav>
