<ul class="nav app-bg-primary fixed-top justify-content-center align-items-center fs-2 text-uppercase">
  <div class="container row justify-content-between align-items-center">

    <li class="nav-item col-3">
      <a class="nav-link nav-logo" routerLinkActive="active" routerLink="/home">
        <img ngSrc="assets/images/navigation/logo.png" class="img-fluid" alt="Logo" height="136" width="266">
      </a>
    </li>

    <li class="nav-item col-3">
      <a class="nav-link" routerLinkActive="active-link" routerLink="/menu">Меню</a>
    </li>
    <li class="nav-item col-3">
      <a class="nav-link" routerLinkActive="active-link" routerLink="/contact">Контакты</a>
    </li>

    <div class="col-3 row fs-1">
      <li class="col-4">
        <a class="nav-link" href="#">
          <img ngSrc="assets/images/navigation/vk.svg" class="nav-social" alt="Logo" height="40" width="40">
        </a>
      </li>

      <li class="nav-item col-4">
        <a class="nav-link" href="#">
          <img ngSrc="assets/images/navigation/telegram.svg" class="nav-social" alt="Logo" height="40" width="40">
        </a>
      </li>

      <li class="nav-item col-4">
        <a class="nav-link" href="#">
          <img ngSrc="assets/images/navigation/instagram.svg" class="nav-social" alt="Logo" height="40" width="40">
        </a>
      </li>
    </div>

  </div>
</ul>
