<ul class="d-none d-lg-flex nav app-bg-primary fixed-top justify-content-center align-items-center fs-2 text-uppercase">
  <div class="container row justify-content-between align-items-center">

    <li class="nav-item col-3">
      <a class="nav-logo nav-link" routerLinkActive="active" routerLink="/home">
        <img ngSrc="assets/images/navigation/logo.png" class="img-fluid" alt="Logo" height="136" width="266">
      </a>
    </li>

    <li class="nav-item col-3">
      <a class="nav-link nav-link-text text-center" routerLinkActive="active-link" routerLink="/menu">Меню</a>
    </li>
    <li class="nav-item col-3">
      <a class="nav-link nav-link-text text-center" routerLinkActive="active-link" routerLink="/about">О нас</a>
    </li>

    <div class="col-3 row fs-1">
      <li class="col-4">
        <a class="nav-link" href="https://vk.com/zhigulevskiizavod">
          <img ngSrc="assets/images/navigation/vk.svg" class="nav-social" alt="Logo" height="40" width="40">
        </a>
      </li>

      <li class="nav-item col-4">
        <a class="nav-link" href="https://t.me/beer_for_all">
          <img ngSrc="assets/images/navigation/telegram.svg" class="nav-social" alt="Logo" height="40" width="40">
        </a>
      </li>

      <li class="nav-item col-4">
        <a class="nav-link" href="https://eda.yandex.ru/r/vkusnoitochka?placeSlug=vkusno__i_tochka_hzxmw">
          <img ngSrc="assets/images/navigation/yandex.svg" class="nav-social" alt="Logo" height="40" width="40">
        </a>
      </li>
    </div>

  </div>
</ul>

<ul class="nav-mobile d-flex d-lg-none fixed-top app-bg-primary">
  <div class="container-fluid row justify-content-between align-items-center">
    <li class="col text-start">
      <a class="link" routerLinkActive="active" routerLink="/home">
        <img ngSrc="assets/images/navigation/logo.png" class="img-fluid img-mobile" alt="Logo" height="136" width="266">
      </a>
    </li>

    <li class="col text-end">
      <button class="btn p-0 m-0 text-end" (click)="openMobileMenu(navigationMobile)">
        <img ngSrc="assets/images/navigation/list.svg" class="img-fluid" alt="Logo" height="40" width="40">
      </button>
    </li>
  </div>
</ul>


<ng-template #navigationMobile let-dialog>
  <div class="container-fluid position-relative" style="height: 90vh">
    <button class="btn dialog-btn-close" (click)="dialog.complete()">
      <img ngSrc="assets/images/navigation/x.svg" class="nav-social" alt="Logo" height="40" width="40">
    </button>

    <ul class="dialog-list m-0 p-0 justify-content-center">
      <li class="text-center">
        <button class="btn fs-1" routerLink="/home" (click)="dialog.complete()">Главная</button>
      </li>

      <li class="text-center">
        <button class="btn fs-1" routerLink="/menu" (click)="dialog.complete()">Меню</button>
      </li>

      <li class="text-center">
        <button class="btn fs-1" routerLink="/about" (click)="dialog.complete()">О нас</button>
      </li>

      <li class="d-flex justify-content-center mt-3">
        <a class="mx-2" href="https://vk.com/zhigulevskiizavod">
          <img ngSrc="assets/images/navigation/vk.svg" class="nav-social" alt="Logo" height="40" width="40">
        </a>

        <a class="mx-2" href="https://t.me/beer_for_all">
          <img ngSrc="assets/images/navigation/telegram.svg" class="nav-social" alt="Logo" height="40" width="40">
        </a>

        <a class="mx-2" href="https://eda.yandex.ru/r/vkusnoitochka?placeSlug=vkusno__i_tochka_hzxmw">
          <img ngSrc="assets/images/navigation/yandex.svg" class="nav-social" alt="Logo" height="40" width="40">
        </a>
      </li>
    </ul>
  </div>

</ng-template>
