<footer class="container-fluid bg-black">
  <div class="container py-2 py-md-4 row row-cols-1 row-cols-md-3 justify-content-center m-auto fs-5 text-center">
    <a class="col link-warning" href="https://yandex.ru/maps/-/CCUgEKv9WD">
      <span class="d-none d-md-block">Адрес: </span>
      река Волга
    </a>
    <a class="col mt-1 mt-md-0 link-warning" href="tel:+7-927-654-8888">
      <span class="d-none d-md-block">Телефон: </span>
      +7-927-654-8888
    </a>
    <a class="col mt-1 mt-md-0 link-warning" href="mailto:volgaida@gmail.com">
      <span class="d-none d-md-block">Почта: </span>
      volgaida@gmail.com
    </a>
  </div>
</footer>
