<div class="container-fluid app-bg-secondary p-0 pb-5">

  <div class="w-100">
    <img ngSrc="../../../assets/images/home/home-bg-main.jpg" class="img-fluid" alt="image bg" height="1003"
         width="1920">
  </div>

  <div class="container fs-3">

    <div class="row justify-content-center mt-5">
      <div class="col-5 text-end my-auto">
        <h3 class="text-uppercase">
          ДОБРО ПОЖАЛОВАТЬ
        </h3>
        <p class="mt-sm-1 mt-lg-3 mt-xl-5">
          Волгаида – это атмосферный ресторан европейской кухни, расположенный на набережной великой Волги.
          Деловая встреча, вечеринка, посиделки с друзьями или семейный ужин – всё это проходит у нас, в сердце Самары.
        </p>
      </div>

      <div class="col-7 text-start">
        <img ngSrc="../../../assets/images/home/home-welcome.jpg" class="img-fluid" alt="image"
             width="{{ImageSize.maxWidth}}" height="{{ImageSize.maxHeight}}">
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-7 text-end">
        <img ngSrc="../../../assets/images/home/home-kitchen.jpg" class="img-fluid" alt="image"
             width="{{ImageSize.maxWidth}}" height="{{ImageSize.maxHeight}}">
      </div>

      <div class="col-5 text-start my-auto">
        <p>
          Кухня Волгаиды сочетает в себе как традиционные проверенные веками рецепты,
          так авторские коктейли и блюда от шефа по мотивам европейской классики.
        </p>
      </div>
    </div>
  </div>
</div>
